@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}
.url_input {
  width:200px;
  padding: 5px;
}
.alert {
  padding: 20px;
}
